name: CI

on:
  push:
    branches:
      - master
    tags:
      - v*
  pull_request:
    branches:
      - master

jobs:

  requirements:
    strategy:
      matrix:
        config:
          - {name: "Ubuntu-20.04-Release", os: ubuntu-20.04, os_name: "ubuntu", os_version: "20.04", python: "3.9", cmakegen: "Release", systemc_version: "2.3.3", verilator_version: "4.228", llvm_version: "13.0.1"}
          - {name: "Ubuntu-22.04-Release", os: ubuntu-22.04, os_name: "ubuntu", os_version: "22.04", python: "3.9", cmakegen: "Release", systemc_version: "2.3.3", verilator_version: "4.228", llvm_version: "13.0.1"}

    runs-on: ${{ matrix.config.os }}
    container: ${{ matrix.config.os_name }}:${{ matrix.config.os_version }}
    name: ${{ matrix.config.name }}-verilator_${{ matrix.config.verilator_version }}_requirements

    steps:
    - name: Install git on container
      run: |
        apt update
        apt install -y git

    - name: Clone vRTLmod
      uses: actions/checkout@v4
      with:
        path: vrtlmod_src
        submodules: true

    - uses: actions/cache@v3
      id: cache-llvm
      with:
        path: ${{runner.workspace}}/llvm_install
        key: ${{ matrix.config.name }}-llvm_llvmorg-${{ matrix.config.llvm_version }}
        restore-keys: |
          ${{ matrix.config.name }}-llvm_llvmorg-${{ matrix.config.llvm_version }}

    - uses: actions/cache@v3
      id: cache-verilator
      with:
        path: ${{runner.workspace}}/verilator_install
        key: ${{ matrix.config.name }}-verilator_${{ matrix.config.verilator_version }}
        restore-keys: |
          ${{ matrix.config.name }}-verilator_${{ matrix.config.verilator_version }}

    - uses: actions/cache@v3
      id: cache-systemc
      with:
        path: ${{runner.workspace}}/systemc_install
        key: ${{ matrix.config.name }}-systemc_${{ matrix.config.systemc_version }}
        restore-keys: |
          ${{ matrix.config.name }}-systemc_${{ matrix.config.systemc_version }}

    - name: Requirements (Linux)
      if: runner.os == 'Linux'
      continue-on-error: false
      shell: bash
      working-directory: ${{runner.workspace}}
      run: |
        . ./vrtlmod/vrtlmod_src/docker/setup_debian.sh
        setup_env

    - if: ${{ steps.cache-systemc.outputs.cache-hit != 'true' }}
      name: Requirements SystemC
      working-directory: ${{runner.workspace}}
      shell: bash
      run: |
        . ./vrtlmod/vrtlmod_src/docker/setup_debian.sh
        setup_systemc "${{runner.workspace}}/systemc_src" "${{runner.workspace}}/systemc_build" "${{runner.workspace}}/systemc_install" "${{ matrix.config.systemc_version }}"

    - if: ${{ steps.cache-verilator.outputs.cache-hit != 'true' }}
      name: Requirements Verilator
      working-directory: ${{runner.workspace}}
      shell: bash
      run: |
        . "./vrtlmod/vrtlmod_src/docker/setup_debian.sh"
        setup_verilator "${{runner.workspace}}/verilator_src" "${{runner.workspace}}/verilator_src" "${{runner.workspace}}/verilator_install" "${{ matrix.config.verilator_version }}"

    - name: Check (cached) Verilator
      continue-on-error: false
      shell: bash
      working-directory: ${{runner.workspace}}
      run: |
        ${{runner.workspace}}/verilator_install/bin/verilator --version

    - if: ${{ steps.cache-llvm.outputs.cache-hit != 'true' }}
      name: Requirements LLVM+Clang
      working-directory: ${{runner.workspace}}
      shell: bash
      run: |
        . ./vrtlmod/vrtlmod_src/docker/setup_debian.sh
        setup_llvm "${{runner.workspace}}/llvm_src" "${{runner.workspace}}/llvm_build" "${{runner.workspace}}/llvm_install" "${{ matrix.config.llvm_version }}"
  
    - name: Check (cached) LLVM
      continue-on-error: false
      shell: bash
      working-directory: ${{runner.workspace}}
      run: |
        ${{runner.workspace}}/llvm_install/bin/clang --version

  build:
    strategy:
      matrix:
        config:
          - {name: "Ubuntu-20.04-Release", os: ubuntu-20.04, os_name: "ubuntu", os_version: "20.04", python: "3.9", cmakegen: "Release", systemc_version: "2.3.3", verilator_version: "4.228", llvm_version: "13.0.1"}
          - {name: "Ubuntu-22.04-Release", os: ubuntu-22.04, os_name: "ubuntu", os_version: "22.04", python: "3.9", cmakegen: "Release", systemc_version: "2.3.3", verilator_version: "4.228", llvm_version: "13.0.1"}

    needs: requirements
    runs-on: ${{ matrix.config.os }}
    container: ${{ matrix.config.os_name }}:${{ matrix.config.os_version }}
    name: ${{ matrix.config.name }}-verilator_${{ matrix.config.verilator_version }}_build

    steps:
    - name: Install git on container
      run: |
        apt update
        apt install -y git

    - name: Checkout
      uses: actions/checkout@v4
      with:
        path: vrtlmod_src
        submodules: true

    - name: Requirements (Linux)
      if: runner.os == 'Linux'
      continue-on-error: false
      shell: bash
      working-directory: ${{runner.workspace}}
      run: |
        . ./vrtlmod/vrtlmod_src/docker/setup_debian.sh
        setup_env

    - name: Cache (LLVM)
      uses: actions/cache@v3
      id: cache-llvm
      with:
        path: ${{runner.workspace}}/llvm_install
        key: ${{ matrix.config.name }}-llvm_llvmorg-${{ matrix.config.llvm_version }}
        restore-keys: |
          ${{ matrix.config.name }}-llvm_llvmorg-${{ matrix.config.llvm_version }}
    
    - name: Cache (SystemC)
      uses: actions/cache@v3
      id: cache-systemc
      with:
        path: ${{runner.workspace}}/systemc_install
        key: ${{ matrix.config.name }}-systemc_${{ matrix.config.systemc_version }}
        restore-keys: |
          ${{ matrix.config.name }}-systemc_${{ matrix.config.systemc_version }}

    - name: Cache (Verilator)
      uses: actions/cache@v3
      id: cache-verilator
      with:
        path: ${{runner.workspace}}/verilator_install
        key: ${{ matrix.config.name }}-verilator_${{ matrix.config.verilator_version }}
        restore-keys: |
          ${{ matrix.config.name }}-verilator_${{ matrix.config.verilator_version }}

    - name: Check (cached) Verilator
      continue-on-error: false
      shell: bash
      working-directory: ${{runner.workspace}}
      run: ${{runner.workspace}}/verilator_install/bin/verilator --version

    - name: Check (cached) Clang
      continue-on-error: false
      shell: bash
      working-directory: ${{runner.workspace}}
      run: ${{runner.workspace}}/llvm_install/bin/clang --version

    - name: Build vRTLmod
      shell: bash
      working-directory: ${{runner.workspace}}
      run: |
        export VERILATOR_ROOT=${{runner.workspace}}/verilator_install
        export LLVM_DIR=${{runner.workspace}}/llvm_install
        export SYSTEMC_HOME=${{runner.workspace}}/systemc_install
        . ./vrtlmod/vrtlmod_src/docker/setup_debian.sh
        setup_vrtlmod "${{runner.workspace}}/vrtlmod/vrtlmod_src" "${{runner.workspace}}/vrtlmod_build" "${{runner.workspace}}/vrtlmod_install"

    - name: (CTest) Pack Test Artifacts on Failure
      if: ${{ failure() }}
      run: tar -C ${{runner.workspace}} -czvf ${{runner.workspace}}/vrtlmod-failed-test.tar.gz ${{runner.workspace}}/vrtlmod_build/Testing

    - name: (CTest) Upload Artifacts on Failure
      uses: actions/upload-artifact@v4
      if: ${{ failure() }}
      with:
        name: vrtlmod-failed-test-${{matrix.config.name}}.tar.gz
        path: ${{runner.workspace}}/vrtlmod-failed-test.tar.gz
        if-no-files-found: error
        retention-days: 15

    - name: Compress Compiled System
      if: runner.os == 'Linux'
      run: tar -C ${{runner.workspace}}/ -czvf "${{runner.workspace}}/vrtlmod.tar.gz" "${{runner.workspace}}/vrtlmod_install"

    - name: Upload Compiled System
      if: runner.os == 'Linux'
      uses: actions/upload-artifact@v4
      with:
        name: vrtlmod-${{matrix.config.name}}-verilator_${{ matrix.config.verilator_version }}.tar.gz
        path: "${{runner.workspace}}/vrtlmod.tar.gz"

  benchmark:
    strategy:
      matrix:
        config:
          - {name: "Ubuntu-20.04-Release", os: ubuntu-20.04, os_name: "ubuntu", os_version: "20.04", python: "3.9", cmakegen: "Release", systemc_version: "2.3.3", verilator_version: "4.228", llvm_version: "13.0.1"}
          - {name: "Ubuntu-22.04-Release", os: ubuntu-22.04, os_name: "ubuntu", os_version: "22.04", python: "3.9", cmakegen: "Release", systemc_version: "2.3.3", verilator_version: "4.228", llvm_version: "13.0.1"}
        duts: ["foo", "cv32e40p", "cv32e40s", "cva6"]

    needs: build
    runs-on: ${{ matrix.config.os }}
    container: ${{ matrix.config.os_name }}:${{ matrix.config.os_version }}
    name: ${{ matrix.config.name }}-verilator_${{ matrix.config.verilator_version }}_benchmark_${{ matrix.duts }}

    steps:
    - name: Install git on container
      run: |
        apt update
        apt install -y git

    - name: Checkout
      uses: actions/checkout@v4
      with:
        path: vrtlmod_src
        submodules: true

    - name: Requirements (Linux)
      if: runner.os == 'Linux'
      continue-on-error: false
      shell: bash
      working-directory: ${{runner.workspace}}
      run: |
        . ./vrtlmod/vrtlmod_src/docker/setup_debian.sh
        setup_env

    - name: Cache (LLVM)
      uses: actions/cache@v3
      id: cache-llvm
      with:
        path: ${{runner.workspace}}/llvm_install
        key: ${{ matrix.config.name }}-llvm_llvmorg-${{ matrix.config.llvm_version }}
        restore-keys: |
          ${{ matrix.config.name }}-llvm_llvmorg-${{ matrix.config.llvm_version }}
    
    - name: Cache (SystemC)
      uses: actions/cache@v3
      id: cache-systemc
      with:
        path: ${{runner.workspace}}/systemc_install
        key: ${{ matrix.config.name }}-systemc_${{ matrix.config.systemc_version }}
        restore-keys: |
          ${{ matrix.config.name }}-systemc_${{ matrix.config.systemc_version }}

    - name: Cache (Verilator)
      uses: actions/cache@v3
      id: cache-verilator
      with:
        path: ${{runner.workspace}}/verilator_install
        key: ${{ matrix.config.name }}-verilator_${{ matrix.config.verilator_version }}
        restore-keys: |
          ${{ matrix.config.name }}-verilator_${{ matrix.config.verilator_version }}

    - name: Check (cached) Verilator
      continue-on-error: false
      shell: bash
      working-directory: ${{runner.workspace}}
      run: ${{runner.workspace}}/verilator_install/bin/verilator --version

    - name: Check (cached) Clang
      continue-on-error: false
      shell: bash
      working-directory: ${{runner.workspace}}
      run: ${{runner.workspace}}/llvm_install/bin/clang --version

    - name: Fetch Compiled System
      uses: actions/download-artifact@v4.1.7
      with:
        name: vrtlmod-${{matrix.config.name}}-verilator_${{ matrix.config.verilator_version }}.tar.gz
        path: ${{runner.workspace}}

    - name: Unpack Compiled System
      working-directory: ${{runner.workspace}}
      run: tar -xf vrtlmod.tar.gz

    - name: Configure Benchmarks
      shell: bash
      working-directory: ${{runner.workspace}}
      run: |
        export VERILATOR_ROOT=${{runner.workspace}}/verilator_install
        export LLVM_DIR=${{runner.workspace}}/systemc_install
        export SYSTEMC_HOME=${{runner.workspace}}/systemc_install
        cmake -S vrtlmod_src/test/benchmark -B build-${{matrix.duts}} -D VP=${{matrix.duts}} -D CMAKE_BUILD_TYPE=${{ matrix.config.cmakegen }} -D VRTLMOD_ROOT=${{runner.workspace}}/vrtlmod_install

    - name: Compile Benchmarks
      shell: bash
      working-directory: ${{runner.workspace}}
      run: |
        cmake --build build-${{matrix.duts}} --parallel $(nproc)

    - name: Run Benchmarks
      shell: bash
      working-directory: ${{runner.workspace}}
      run: |
        build-${{matrix.duts}}/SC_TEST_VRTLMOD vrtlmod_src/test/benchmark/${{matrix.duts}}/dhry.elf 5 10 > ${{matrix.duts}}-log.txt
        cat ${{matrix.duts}}-log.txt

    - name: Save Benchmark Results
      uses: actions/upload-artifact@v4
      with:
        name: ${{matrix.config.name}}-verilator_${{matrix.config.verilator_version}}-${{matrix.duts}}.log
        path: ${{runner.workspace}}/${{matrix.duts}}.log
