name: CI

on:
  push:
    branches:
      - master
    tags:
      - v*
  pull_request:
    branches:
      - master

jobs:
  requirements:
    strategy:
      matrix:
        config:
          - {os_name: "ubuntu", os_version: "latest", python: "3.9", cmakegen: "Release", systemc_version: "2.3.3", verilator_version: "4.228", llvm_src: 'true', llvm_version: "13.0.1"}
          - {os_name: "ubuntu", os_version: "22.04", python: "3.9", cmakegen: "Release", systemc_version: "2.3.3", verilator_version: "4.228", llvm_src: 'true', llvm_version: "13.0.1"}

    runs-on: ${{ matrix.config.os_name }}-${{ matrix.config.os_version }}
    container: ${{ matrix.config.os_name }}:${{ matrix.config.os_version }}
    name: requirements-${{ matrix.config.os_name }}-${{ matrix.config.os_version }}_verilator-${{ matrix.config.verilator_version }}_llvm-llvmorg-${{ matrix.config.llvm_version }}

    steps:
    - name: Install git on container
      run: |
        apt update
        apt install -y git

    - name: Clone vRTLmod
      uses: actions/checkout@v4
      with:
        path: vrtlmod_src
        submodules: true

    - if: ${{ matrix.config.llvm_src == 'true' }}
      name: Cache LLVM
      id: cache-llvm
      uses: actions/cache@v4
      with:
        path: /llvm_install
        key: ${{ matrix.config.os_name }}-${{ matrix.config.os_version }}_llvm-llvmorg-${{ matrix.config.llvm_version }}
        restore-keys: ${{ matrix.config.os_name }}-${{ matrix.config.os_version }}_llvm-llvmorg-${{ matrix.config.llvm_version }}

    - name: Cache Verilator
      id: cache-verilator
      uses: actions/cache@v4
      with:
        path: /verilator_install
        key: ${{ matrix.config.os_name }}-${{ matrix.config.os_version }}_verilator-${{ matrix.config.verilator_version }}
        restore-keys: ${{ matrix.config.os_name }}-${{ matrix.config.os_version }}_verilator-${{ matrix.config.verilator_version }}

    - name: Cache SystemC
      id: cache-systemc
      uses: actions/cache@v4
      with:
        path: /systemc_install
        key: ${{ matrix.config.os_name }}-${{ matrix.config.os_version }}_systemc-${{ matrix.config.systemc_version }}
        restore-keys: ${{ matrix.config.os_name }}-${{ matrix.config.os_version }}_systemc-${{ matrix.config.systemc_version }}

    - name: Requirements (Linux)
      if: runner.os == 'Linux'
      continue-on-error: false
      shell: bash
      working-directory: ${{runner.workspace}}
      run: |
        . ./vrtlmod/vrtlmod_src/docker/setup_debian.sh
        setup_env

    - if: ${{ steps.cache-systemc.outputs.cache-hit != 'true' }}
      name: Requirements SystemC
      working-directory: ${{runner.workspace}}
      shell: bash
      run: |
        . ./vrtlmod/vrtlmod_src/docker/setup_debian.sh
        setup_systemc "${{runner.workspace}}/systemc_src" "${{runner.workspace}}/systemc_build" "/systemc_install" "${{ matrix.config.systemc_version }}"

    - if: ${{ steps.cache-verilator.outputs.cache-hit != 'true' }}
      name: Requirements Verilator
      working-directory: ${{runner.workspace}}
      shell: bash
      run: |
        . "./vrtlmod/vrtlmod_src/docker/setup_debian.sh"
        setup_verilator "${{runner.workspace}}/verilator_src" "${{runner.workspace}}/verilator_src" "/verilator_install" "${{ matrix.config.verilator_version }}"

    - name: Check (cached) Verilator
      continue-on-error: false
      shell: bash
      working-directory: ${{runner.workspace}}
      run: /verilator_install/bin/verilator --version

    - if: ${{ (matrix.config.llvm_src == 'true') && (steps.cache-llvm.outputs.cache-hit != 'true') }}
      name: Requirements LLVM+Clang
      working-directory: ${{runner.workspace}}
      shell: bash
      run: |
        . ./vrtlmod/vrtlmod_src/docker/setup_debian.sh
        setup_llvm "${{runner.workspace}}/llvm_src" "${{runner.workspace}}/llvm_build" "/llvm_install" "${{ matrix.config.llvm_version }}" "$PWD/vrtlmod/vrtlmod_src/deps/llvm/patches"
  
    - if: ${{ matrix.config.llvm_src == 'true' }}
      name: Check (cached) LLVM
      continue-on-error: false
      shell: bash
      working-directory: ${{runner.workspace}}
      run: /llvm_install/bin/clang --version

  build:
    strategy:
      matrix:
        config:
          - {os_name: "ubuntu", os_version: "latest", python: "3.9", cmakegen: "Release", systemc_version: "2.3.3", verilator_version: "4.228", llvm_src: 'true', llvm_version: "13.0.1"}
          - {os_name: "ubuntu", os_version: "22.04", python: "3.9", cmakegen: "Release", systemc_version: "2.3.3", verilator_version: "4.228", llvm_src: 'true', llvm_version: "13.0.1"}

    needs: requirements
    runs-on: ${{ matrix.config.os_name }}-${{ matrix.config.os_version }}
    container: ${{ matrix.config.os_name }}:${{ matrix.config.os_version }}
    name: build-${{ matrix.config.os_name }}-${{ matrix.config.os_version }}_verilator-${{ matrix.config.verilator_version }}_llvm-llvmorg-${{ matrix.config.llvm_version }}

    steps:
    - name: Install git on container
      run: |
        apt update
        apt install -y git

    - name: Checkout
      uses: actions/checkout@v4
      with:
        path: vrtlmod_src
        submodules: recursive

    - name: Requirements (Linux)
      if: runner.os == 'Linux'
      continue-on-error: false
      shell: bash
      working-directory: ${{runner.workspace}}
      run: |
        . ./vrtlmod/vrtlmod_src/docker/setup_debian.sh
        setup_env

    - if: ${{ matrix.config.llvm_src == 'true' }}
      name: Cache LLVM
      id: cache-llvm
      uses: actions/cache@v4
      with:
        path: /llvm_install
        key: ${{ matrix.config.os_name }}-${{ matrix.config.os_version }}_llvm-llvmorg-${{ matrix.config.llvm_version }}
        restore-keys: ${{ matrix.config.os_name }}-${{ matrix.config.os_version }}_llvm-llvmorg-${{ matrix.config.llvm_version }}

    - name: Cache Verilator
      id: cache-verilator
      uses: actions/cache@v4
      with:
        path: /verilator_install
        key: ${{ matrix.config.os_name }}-${{ matrix.config.os_version }}_verilator-${{ matrix.config.verilator_version }}
        restore-keys: ${{ matrix.config.os_name }}-${{ matrix.config.os_version }}_verilator-${{ matrix.config.verilator_version }}

    - name: Cache SystemC
      id: cache-systemc
      uses: actions/cache@v4
      with:
        path: /systemc_install
        key: ${{ matrix.config.os_name }}-${{ matrix.config.os_version }}_systemc-${{ matrix.config.systemc_version }}
        restore-keys: ${{ matrix.config.os_name }}-${{ matrix.config.os_version }}_systemc-${{ matrix.config.systemc_version }}

    - name: Check (cached) Verilator
      continue-on-error: false
      shell: bash
      working-directory: ${{runner.workspace}}
      run: /verilator_install/bin/verilator --version

    - name: Check (cached) Clang
      continue-on-error: false
      shell: bash
      working-directory: ${{runner.workspace}}
      run: /llvm_install/bin/clang --version

    - name: Build vRTLmod
      shell: bash
      working-directory: ${{runner.workspace}}
      run: |
        export VERILATOR_ROOT=/verilator_install
        export LLVM_DIR=/llvm_install
        export SYSTEMC_HOME=/systemc_install
        . ./vrtlmod/vrtlmod_src/docker/setup_debian.sh
        setup_vrtlmod "${GITHUB_WORKSPACE}/vrtlmod_src" "/vrtlmod_build" "/vrtlmod_install"

    - name: (CTest) Upload Artifacts on Failure
      uses: actions/upload-artifact@v5
      if: ${{ failure() }}
      with:
        name: vrtlmod-failed-test-${{ matrix.config.os_name }}-${{ matrix.config.os_version }}.tar.gz
        path: /vrtlmod_build/Testing/
        if-no-files-found: error
        retention-days: 15

    - name: Upload Compiled System
      if: runner.os == 'Linux'
      uses: actions/upload-artifact@v5
      with:
        name: vrtlmod_${{ matrix.config.os_name }}-${{ matrix.config.os_version }}_verilator-${{ matrix.config.verilator_version }}_llvm-llvmorg-${{ matrix.config.llvm_version }}
        path: /vrtlmod_install/
        if-no-files-found: error

  benchmark:
    strategy:
      matrix:
        config:
          - {os_name: "ubuntu", os_version: "latest", python: "3.9", cmakegen: "Release", systemc_version: "2.3.3", verilator_version: "4.228", llvm_src: 'true', llvm_version: "13.0.1"}
          - {os_name: "ubuntu", os_version: "22.04", python: "3.9", cmakegen: "Release", systemc_version: "2.3.3", verilator_version: "4.228", llvm_src: 'true', llvm_version: "13.0.1"}
        duts: ["foo", "cv32e40p", "cv32e40s", "cva6"]

    continue-on-error: true
    needs: build
    runs-on: ${{ matrix.config.os_name }}-${{ matrix.config.os_version }}
    container: ${{ matrix.config.os_name }}:${{ matrix.config.os_version }}
    name: benchmark_${{ matrix.duts }}-${{ matrix.config.os_name }}-${{ matrix.config.os_version }}_verilator-${{ matrix.config.verilator_version }}_llvm-llvmorg-${{ matrix.config.llvm_version }}

    steps:
    - name: Install git on container
      run: |
        apt update
        apt install -y git

    - name: Checkout vrtlmod
      uses: actions/checkout@v4
      with:
        path: vrtlmod_src

    - name: Checkout vrtlmod-test
      uses: actions/checkout@v4
      with:
        path: vrtlmod-test_src
        repository: tum-ei-eda/vrtlmod-test
        ref: master
        submodules: recursive

    - name: Requirements (Linux)
      if: runner.os == 'Linux'
      continue-on-error: false
      shell: bash
      working-directory: ${{runner.workspace}}
      run: |
        . ./vrtlmod/vrtlmod_src/docker/setup_debian.sh
        setup_env

    - name: Cache Verilator
      id: cache-verilator
      uses: actions/cache@v4
      with:
        path: /verilator_install
        key: ${{ matrix.config.os_name }}-${{ matrix.config.os_version }}_verilator-${{ matrix.config.verilator_version }}
        restore-keys: ${{ matrix.config.os_name }}-${{ matrix.config.os_version }}_verilator-${{ matrix.config.verilator_version }}
  
    - if: ${{ matrix.config.llvm_src == 'true' }}
      name: Cache LLVM
      id: cache-llvm
      uses: actions/cache@v4
      with:
        path: /llvm_install
        key: ${{ matrix.config.os_name }}-${{ matrix.config.os_version }}_llvm-llvmorg-${{ matrix.config.llvm_version }}
        restore-keys: ${{ matrix.config.os_name }}-${{ matrix.config.os_version }}_llvm-llvmorg-${{ matrix.config.llvm_version }}
  
    - name: Cache SystemC
      id: cache-systemc
      uses: actions/cache@v4
      with:
        path: /systemc_install
        key: ${{ matrix.config.os_name }}-${{ matrix.config.os_version }}_systemc-${{ matrix.config.systemc_version }}
        restore-keys: ${{ matrix.config.os_name }}-${{ matrix.config.os_version }}_systemc-${{ matrix.config.systemc_version }}

    - name: Check (cached) Verilator
      continue-on-error: false
      shell: bash
      working-directory: ${{runner.workspace}}
      run: /verilator_install/bin/verilator --version

    - name: Fetch Compiled System
      uses: actions/download-artifact@v5
      with:
        name: vrtlmod_${{ matrix.config.os_name }}-${{ matrix.config.os_version }}_verilator-${{ matrix.config.verilator_version }}_llvm-llvmorg-${{ matrix.config.llvm_version }}
        path: /vrtlmod_install/

    - name: Check pre-compiled vrtlmod
      shell: bash
      run: |
        chmod +x /vrtlmod_install/bin/vrtlmod
        chmod +x /vrtlmod_install/cmake/vrtlmod-config.cmake
        /vrtlmod_install/bin/vrtlmod --version

    - name: Patch Submodule
      shell: bash
      run: |
        scc_dir="${GITHUB_WORKSPACE}/vrtlmod-test_src/third_party/scc/scc_src"
        _dir_="$PWD"
        ls -la ${scc_dir}
        cd ${scc_dir}
        ls -la .
        git apply "../../../patches/scc-gcc_gt_13.patch"
        git apply "../../../patches/scc-byteenabletransactions.patch"

    - name: Configure Benchmarks
      shell: bash
      working-directory: ${{runner.workspace}}
      run: |
        export VERILATOR_ROOT=/verilator_install
        export LLVM_DIR=/llvm_install
        export SYSTEMC_HOME=/systemc_install       
        cmake -S ${GITHUB_WORKSPACE}/vrtlmod-test_src -B build -D VRTL_NAMES="${{matrix.duts}}" -D CMAKE_BUILD_TYPE=${{ matrix.config.cmakegen }} -D VRTLMOD_ROOT=/vrtlmod_install

    - name: Compile Benchmarks
      shell: bash
      working-directory: ${{runner.workspace}}
      run: |
        cmake --build build --parallel $(nproc)

    - name: Run Benchmarks
      shell: bash
      working-directory: ${{runner.workspace}}
      run: |
        build/benchmark/V${{ matrix.duts }}-SC_TEST_VRTLMOD  ${GITHUB_WORKSPACE}/vrtlmod-test_src/benchmark/${{matrix.duts}}/dhry.elf 5 10 > ${{matrix.duts}}-log.txt
        cat ${{matrix.duts}}-log.txt

    - name: Save Benchmark Results
      uses: actions/upload-artifact@v5
      with:
        name: ${{matrix.duts}}_${{ matrix.config.os_name }}-${{ matrix.config.os_version }}_verilator-${{ matrix.config.verilator_version }}_llvm-llvmorg-${{ matrix.config.llvm_version }}.log
        path: ${{runner.workspace}}/${{matrix.duts}}.log
